.flex-container {
    display: flex;
    width: 900px;
}

.flex-item {
    flex-basis: 400px;
    border: 2px solid #161515;
    color: #FFF;
    text-align: center;
    line-height: 150px;
    margin: 10px;
    font-size: 20px;
    font-family: Arial;
    background-color: #E67E22
}

.flex-item:nth-child(1) {
    flex-shrink: 1;
    background-color: #2ECC71;
}

.flex-item:nth-child(2) {
    flex-shrink: 2;
    background-color: #2ECC71;
}

.flex-item:nth-child(3) {
    flex-shrink: 1;
    background-color: #2ECC71;
}