div {
    border: 2px solid;
    border-radius: 10px;
    width: 500px;
    height: 500px;
    position: relative;
    font-size: 72px;
}

/*Posicionamiento*/
.uno {
    background: #ffaaaa;
    z-index: 30;
}

.dos {
    background: #aaffaa;
    top: -250px;
    left: 250px;
    z-index: 40;
}

.tres {
    background: #aaaaff;
    top: -500px;
    left: 500px;
    z-index: 10;
}