.borde1{
    font: 48px Arial;
    background-color: #ddddff;
    width: 400px;
    height: 100px;
    border:5px solid;
    padding: 20px;
    position: static;
}
.borde2{
    font: 48px Arial;
    background-color: #f9f6af;
    width: 400px;
    height: 100px;
    border:1px solid;
    margin-top: 20px;
    position: static;
}
