#flex-container2 {
    height: 600px;
    display: flex;
    flex-wrap: wrap-reverse;
    flex-direction: row;
    align-items: baseline;
}

#flex-container2 div {
    width: 200px;
    height: 150px;
    color: #FFF;
    line-height: 150px;
    margin: 10px;
    font-size: 20px;
    font-family: Arial;
    background-color: #3498DB;
}
