.grid {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 50px 100px 100px;
    gap: 10px;
}

.rojo {
    background-color: red;
    height: 100px;
    text-align: center;
    grid-row: 1 / 3;
}

.verde {
    background-color: green;
    text-align: center;
}

.azul {
    background-color: blue;
    text-align: center;
}

.segundafila{
    background-color: tomato;
    grid-column: 1 / 3;
}