body {
    background-image: url(../Imágenes/fondo.png);
}

#capitulo {
    font: bold 48px Arial, Helvetica, sans-serif;
    color: rgb(123, 34, 34);
    text-align: center;
    width: 750px;
    margin: 60px auto;
    padding: 5px 5px;
    background-color: bisque;
    border: 4px solid #ff0000;
    border-radius: 20px;
    box-shadow: black 10px 10px 15px; 
}

#texto p {
    font: 20px Arial, Helvetica, sans-serif;
    color: #000080;
    text-align: justify;
    width: 650px;
    margin: 10px auto;
    padding: 10px 60px;
    background-color: #ffffff;
    background-image: url(../Imágenes/fondo_lat.png);
    background-repeat: repeat-y;
}

#imagen {
    width: 600px;
    height: 300px;

    background-image: url("../Imágenes/pajaro.png");
}