/*.principal{
    font-size: 20px;
    color:red;
}
.secundario{
    font-size: 40px;
    color:green;
}*/

p[name]{
    font-size: 20px;
    color:blue;
}
p[name~="el"]{
    color:green;
}
p[name^="d"]{
    color:coral
}
p[name$="ista"]{
    color:brown
}
p[name*="ar"]{
    color:red
}
