body {
    background-image: url(../Im치genes/fondo.png);
}

#capitulo {
    font: bold 48px Arial, Helvetica, sans-serif;
    color: rgb(123, 34, 34);
    text-align: center;
    width: 750px;
    margin: 60px auto;
    padding: 5px 5px;
    border: 4px solid #1b1a1a;
    border-radius: 60px;
    box-shadow: 10px 10px 15px rgb(184, 31, 31) inset ; 
    background:radial-gradient(ellipse at top left, #40ff40 50%, #ffffff 70%,#000000 90%);
    filter: blur(2px);
}

#texto p {
    font: 20px Arial, Helvetica, sans-serif;
    color: #000080;
    text-align: justify;
    width: 650px;
    margin: 10px auto;
    padding: 10px 60px;
    background-color: #ffffff;
    background-image: url(../Im치genes/fondo_lat.png);
    background-repeat: repeat-y;
}

#imagen {
    width: 600px;
    height: 300px;

    background-image: url("../Im치genes/pajaro.png");
}

#final{
    width: 600px;
    margin: 80px auto;
    text-align: center;
    font: bold 200px Arial,Verdana;
    color: red;
    text-shadow: -10px -10px 0px black,
    10px -10px 0px black,
    -10px 10px 0px black,
    10px 10px 0px black;
}
#final2{
    width: 600px;
    margin: 80px auto;
    text-align: center;
    font: bold 200px Arial,Verdana;
    color: red;
    text-shadow: 0px 0px 20px rgb(1, 1, 71);
}

#texto2{
    text-align: center;
    border: 4px solid #000000;
    font: 20px Arial, Helvetica, sans-serif;
    color: #ffffff; 
    text-align: justify;
    width: 450px;
    height: 150px;
    overflow: auto ;
    border-radius: 20px 0px 0px 20px;
    margin: 60px auto;
    background-color: #ffffff;
    text-shadow: 0px 0px 4px black;
    background-image: url(../Im치genes/logo_transparente.png);
    background-repeat: no-repeat;
    background-position: center center;
}
