.rotulo{
    width: 900px;
    margin: 20px auto;
    padding: 10px;
    text-align: center;
    background: #ddddff;
    font: bold 26px Arial,Verdana;
    color: #000080;
    border: 5px solid #000080;
    border-radius: 20px;
}

main{
    width: 900px;
    margin: 20px auto;
    padding: 10px;
    border: 5px solid #000080;
    border-radius: 20px;
    background: #eeeeff;
    font-variant: normal 18px Arial,Verdana;
    color: #000080;
    text-align: justify;
    column-count: 3;
    column-gap: 20px;
    column-fill: balance;
}

h1{
    column-span: all ;
    text-align: center;
}