#cajapadre {
    width: 600px;
    margin: 50px auto;
    border: 3px solid;
    background: #ffdddd;
}

#caja-1 {
    float: left;
    width: 140px;
    height: 50px;
    margin: 5px;
    background-color: #ffaaaa;
}

#caja-2 {
    float: left;
    width: 140px;
    height: 50px;
    margin: 5px;
    background-color: #b4fab4;
}

#caja-3 {
    float: left;
    width: 140px;
    height: 50px;
    margin: 5px;
    background-color: #c0c0ff;
}

#caja-4 {
    float: left;
    width: 140px;
    height: 50px;
    margin: 5px;
    background-color: #ffffb9;
}

.restaurar {
    clear: both;
}